<div class="row d-flex justify-content-center">
  <div class="col-lg-7 sheet">
    <div class="d-flex justify-content-center mb-2">
      <h1 class="nf page-title mb-0">
        <%=t '.team_name', name: @team.name %>
      </h1>
    </div>
    <%= render partial: 'member', collection: @team.members, as: :member %>
    <hr>
    <%= render partial: 'invitation', locals: { team: @team } %>
  </div>
</div>
<div class="row d-flex justify-content-center">
  <div class="d-flex mt-2">
    <%= link_to products_path, class: 'text-md' do %>
      <i class="fas fa-reply"></i>
      <%=t 'navs.back' %>
    <% end %>
  </div>
</div>
