<div id="js-pbl-item-<%= item.id %>" class="pbl-item-outer pbl-item-outer--<%= item.status %>" data-item-id="<%= item.id %>">
  <div class="pbl-item">
    <span class="pbl-item__grip js-sortable-handle">
      <i class="fas fa-grip-vertical"></i>
    </span>
    <%= simple_format(item.description, class: 'pbl-item__description nf') %>
    <div class="pbl-item__actions">
      <%= link_to "#clp-pbi-ac-#{item.id}", collapse_trigger_options(class: 'pbl-item__ac-trigger') do %>
        <i class="fas fa-list"></i>
      <% end %>
      <%= render partial: 'pbis/point_form', locals: { item: item } %>
      <%= render partial: 'pbis/item_menu', locals: { item: item } %>
    </div>
  </div>
  <div class="collapse pbl-item__ac" id="clp-pbi-ac-<%= item.id %>">
    <hr style="margin: 0.5rem 0;">
    <%= render partial: 'pbis/acceptance_criteria', locals: { item: item } %>
  </div>
</div>
