<% content_for(:member_roles) { team_member_roles_label } %>
<div class="row d-flex justify-content-center">
  <div class="col-lg-10 sheet">
    <div class="d-flex justify-content-center mb-2">
      <h1 class="page-title mb-0">
        <%=t '.title' %>
      </h1>
    </div>
    <div class="mb-3">
      <label>
        <%= t '.title_description' %>
      </label>
      <%= simple_format(@issue.description, class: 'nf mb-0') %>
    </div>
    <div>
      <label>
        <%= t '.title_ac' %>
      </label>
      <div class="mt-1 mb-1">
        <% can_update = authorize(@issue.accept_issue_activity, current_team_member_roles, @issue.status) %>
        <%= render partial: 'criterion', collection: @issue.criteria, locals: { issue_id: @issue.id, can_update: can_update } %>
      </div>
      <% if can_update && @issue.can_accept? %>
        <%= button_to t('.accept'), issue_acceptance_path(issue_id: @issue.id.to_s), method: :patch, data: { test_accept: 1, confirm: t('.confirm_accept') }, class: 'mt-2 btn btn-success' %>
      <% end %>
    </div>
  </div>
</div>
<div class="row d-flex justify-content-center">
  <div class="d-flex mt-2">
    <%= link_to sprint_backlog_path(product_id: current_product.id), class: 'text-md' do %>
      <i class="fas fa-reply"></i>
      <%=t 'navs.back' %>
    <% end %>
  </div>
</div>
