<div class="row justify-content-center" style="margin-top: 7rem">
  <div class="col-lg-8">
    <div class="row justify-content-center">
      <%= button_to '/auth/google_oauth2', class: 'btn btn-lg btn-success btn-block', form_class: 'w-100' do %>
        <%=t '.sign_in' %>
      <% end %>
    </div>
    <div class="row justify-content-center mt-2">
      <span class="text-muted">
        <%=t ('.or') %>
      </span>
    </div>
    <div class="row justify-content-center mt-2">
      <%= button_to '/auth/google_oauth2', class: 'btn btn-lg btn-outline-secondary btn-block', form_class: 'w-100' do %>
        <%=t '.sign_up' %>
      <% end %>
    </div>
  </div>
</div>
