<% content_for(:member_roles) { team_member_roles_label } %>
<div class="row d-flex justify-content-center">
  <div class="col-lg-8 sheet">
    <div class="d-flex justify-content-center">
      <h1 class="page-title">
        <%=t '.title' %>
      </h1>
      <div class="pbi-edit__status">
        <span class="pbi__status-label pbi__status-label--<%= @issue.status %>">
          <%=t @issue.status, scope: 'domain.issue.statuses' %>
        <span>
      </div>
    </div>
    <%= render partial: 'form', locals: { form: @form, issue_id: @issue.id } %>
    <hr>
    <div>
      <label>
        <%= t '.title_ac' %>
      </label>
      <div class="pbi__ac">
        <%= render partial: 'acceptance_criteria', locals: { issue_id: @issue.id, criteria: @issue.criteria } %>
      </div>
    </div>
    <div class="mt-2">
      <%= render partial: 'acceptance_criteria/form', locals: { issue_id: @issue.id } %>
    </div>
  </div>
</div>
<div class="row d-flex justify-content-center">
  <div class="d-flex mt-2">
    <%= link_to product_backlog_path(product_id: current_product_id), class: 'text-md' do %>
      <i class="fas fa-reply"></i>
      <%=t 'navs.back' %>
    <% end %>
  </div>
</div>
