<div class="sbl-item">
  <span class="<%= sbl_item_grip_css_classes(true) %>"<%= true && ' data-test-item-movable=1' %>>
    <i class="fas fa-grip-vertical"></i>
  </span>
  <div class="sbl-item__body">
    <div class="sbl-item__issue">
      <div class="sbi-issue__main">
        <%= simple_format(item.description, class: 'sbi-issue__content') %>
        <div class="sbi-issue__ac-list">
          <% item.criteria.each do |c| %>
            <p class="sbi-issue__ac-item">
              <%= c.content %>
            </p>
          <% end %>
        </div>
      </div>
      <div class="ml-2">
        <%= render partial: 'issue_menu' %>
      </div>
    </div>
    <div class="sbl-item__task">
      <% if item.tasks.any? %>
        <div id="js-task-list-<%= item.id %>" class="sbi-task__list">
          <%= render partial: 'task', collection: item.tasks %>
        </div>
      <% end %>
      <%= render partial: 'task_form', locals: { issue_id: item.id } %>
    </div>
  </div>
</div>
