<%= content_tag :div, class: 'sbl-item', data: { id: item.id } do %>
  <span class="<%= sbl_item_grip_css_classes(true) %>">
    <i class="fas fa-grip-vertical"></i>
  </span>
  <div class="sbl-item__body">
    <div class="sbl-item__issue">
      <%= render partial: 'issue', locals: { issue: item } %>
    </div>
    <div class="sbl-item__task">
      <%= render partial: 'task_list', locals: { issue_id: item.id, tasks: item.tasks } %>
      <%= render partial: 'task_form', locals: { issue_id: item.id, form: nil } %>
    </div>
  </div>
<% end %>
