<% can_revert = authorize(:revert_issue_from_sprint, current_team_member_roles, item.status) %>
<% can_accept = authorize(item.acceptance_activity_name, current_team_member_roles, item.work_status) %>
<div class="dropdown">
  <%= link_to '#', dd_trigger_options(id: "sbi-menu-#{item.id}", class: 'context-menu') do %>
    <i class="fas fa-ellipsis-h"></i>
  <% end -%>
  <div class="dropdown-menu dropdown-menu-right">
    <%= link_to current_sprint_issue_path(product_id: current_product.id, id: item.id), method: :delete, class: dropdown_item_classes { can_revert }, data: { 'test_revert_issue' => can_revert } do %>
      <i class="fas fa-reply"></i>
      <%=t 'domain.issue.cancel_sprint_assign' %>
    <% end %>
    <%= link_to issue_acceptance_path(issue_id: item.id), class: dropdown_item_classes { can_accept }, data: { "test_accept_issue" => can_accept } do %>
      <i class="fas fa-user-check"></i>
      <%=t 'domain.issue.acceptance' %>
    <% end %>
  </div>
</div>
