<div class="pbl__filters">
  <div class="btn-group" role="group">
    <a href="<%= product_product_backlog_items_path(product_id: product_id) %>" class="<%= pbl_status_filter_classes(current: current, filter: '') %>">
      すべて
    </a>
    <% all_pbi_statuses.each do |status| %>
      <a href="<%= product_product_backlog_items_path(product_id: product_id, status: status) %>" class="<%= pbl_status_filter_classes(current: current, filter: status) %>">
        <i class="fas fa-square pbi__status--<%= status %>"></i>
        <%=t status, scope: 'domain.pbi.statuses' %>
      </a>
    <% end %>
  </div>
</div>
