<div class="pbl-item-outer">
  <div class="pbl-item">
    <span class="pbl-item__grip">
      <i class="fas fa-grip-vertical"></i>
    </span>
    <div class="dropdown pbl-item__content-outer">
      <%= simple_format(item.content, id: "dd-pbi-#{item.id}", class: 'pbl-item__content', data: { toggle: 'dropdown', display: 'static' }, 'aria-haspopup' => 'true', 'aria-expanded' => 'false') %>
      <div class="dropdown-menu" aria-labelledby="dd-pbi-<%= item.id %>">
        <h6 class="dropdown-header">
          <%=t '.item_help' %>
        </h6>
        <%= link_to t('navs.edit'), '#', class: 'dropdown-item' %>
        <%= link_to t('navs.delete'), '#', class: 'dropdown-item link-danger' %>
      </div>
    </div>
    <div class="pbl-item__actions">
      <a data-toggle="collapse" class="pbl-item__ac-trigger" href="#clp-pbi-ac-<%= item.id %>" aria-expanded="false" aria-controls="clp-pbi-ac-<%= item.id %>">
        <i class="fas fa-list"></i>
      </a>
      <div class="dropdown">
        <span href="#" id="dd-pbi-point-<%= item.id %>" class="pbl-item__point" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
            3
        </span>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dd-pbi-point-<%= item.id %>">
          <h6 class="dropdown-header">
            <%=t '.point_help' %>
          </h6>
          <% %w(0 1 2 3 5 8 ?).each do |point| %>
            <%= link_to point, '#', class: 'dropdown-item' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="collapse" id="clp-pbi-ac-<%= item.id %>">
    <ul class="pbl-item__ac">
      <li>
        Googleアカウントでログインできること
      </li>
      <li>
        ログイン後の画面に名前が表示されていること
      </li>
    </ul>
  </div>
</div>
