<div class="pbl-item-outer">
  <div class="pbl-item">
    <span class="pbl-item__grip">
      <i class="fas fa-grip-vertical"></i>
    </span>
    <%= simple_format(item.content, class: 'pbl-item__content') %>
    <div class="pbl-item__actions">
      <%= link_to "#clp-pbi-ac-#{item.id}", collapse_trigger_options(class: 'pbl-item__ac-trigger') do %>
        <i class="fas fa-list"></i>
      <% end %>
      <%= render partial: 'point_form', locals: { item: item } %>
      <div class="dropdown">
        <%= link_to '#', dd_trigger_options(id: "dd-pbi-#{item.id}", class: 'pbl-item__menu') do %>
          <i class="fas fa-ellipsis-h"></i>
        <% end -%>
        <div class="dropdown-menu dropdown-menu-right">
          <h6 class="dropdown-header">
            <%=t '.item_help' %>
          </h6>
          <%= link_to t('navs.edit'), '#', class: 'dropdown-item' %>
          <%= link_to t('navs.delete'), '#', class: 'dropdown-item link-danger' %>
        </div>
      </div>
    </div>
  </div>
  <div class="collapse" id="clp-pbi-ac-<%= item.id %>">
    <ul class="pbl-item__ac">
      <li>
        Googleアカウントでログインできること
      </li>
      <li>
        ログイン後の画面に名前が表示されていること
      </li>
    </ul>
  </div>
</div>
