<div class="pbl-item-outer" data-sortable-id="<%= item.id %>">
  <div class="pbl-item">
    <span class="pbl-item__grip">
      <i class="fas fa-grip-vertical"></i>
    </span>
    <%= simple_format(item.content, class: 'pbl-item__content nf') %>
    <div class="pbl-item__actions">
      <%= link_to "#clp-pbi-ac-#{item.id}", collapse_trigger_options(class: 'pbl-item__ac-trigger') do %>
        <i class="fas fa-list"></i>
      <% end %>
      <%= render partial: 'point_form', locals: { item: item } %>
      <div class="dropdown">
        <%= link_to '#', dd_trigger_options(id: "dd-pbi-#{item.id}", class: 'pbl-item__menu') do %>
          <i class="fas fa-ellipsis-h"></i>
        <% end -%>
        <div class="dropdown-menu dropdown-menu-right">
          <%= link_to edit_product_backlog_item_path(item.id), class: 'dropdown-item' do %>
            <i class="fas fa-edit"></i>
            <%=t 'navs.edit' %>
          <% end %>
          <%= link_to '#', class: 'dropdown-item text-danger' do %>
            <i class="fas fa-trash-alt"></i>
            <%=t 'navs.delete' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="collapse pbl-item__ac" id="clp-pbi-ac-<%= item.id %>">
    <hr>
    <div class="ac-list ac-list--small">
      <div class="ac-list__item">
        <p>
          <%= truncate(item.content) %>
        </p>
      </div>
    </div>
  </div>
</div>
