<div id="js-pbl-item-point-<%= item.id %>" class="dropdown">
  <%= content_tag :span, present_story_point(item.size), dd_trigger_options(id: "dd-pbi-point-#{item.id}", class: 'pbl-item__point') %>
  <div class="dropdown-menu dropdown-menu-right p-3 py-2">
    <%= form_with scope: :form, url: product_backlog_item_estimation_path(item.id), method: :put do |f| %>
      <div class="form-group">
        <%= f.label :point %>
        <%= f.collection_select :point, all_story_points, :to_s, :to_s, { selected: present_story_point(item.size) }, { class: 'form-control' } %>
      </div>
      <%= f.button t('.estimate'), class: 'btn btn-success' %>
    <% end %>
  </div>
</div>
