<div class="row d-flex justify-content-center">
  <div class="col-lg-8 sheet">
    <div class="d-flex justify-content-center">
      <h1 class="page-title">
        <%=t '.title' %>
      </h1>
    </div>
    <%= render partial: 'form', locals: { form: @pbi_form, url: product_backlog_item_path(@pbi_id), method: :put, btn_label: t('navs.save') } %>
    <hr>
    <%= render partial: 'acceptance_criteria/list' %>
  </div>
</div>
<div class="row d-flex justify-content-center">
  <div class="d-flex mt-2">
    <%= link_to product_backlog_items_path(product_id: @pbi_form.product_id), class: 'text-md' do %>
      <i class="fas fa-reply"></i>
      <%=t 'navs.back' %>
    <% end %>
  </div>
</div>
