<% content_for(:product_name) { current_product(@pbi.product_id)&.name } %>
<% criteria = [
  'Googleアカウントでログインできること',
  'ログイン後の画面に名前が表示されていること',
] %>
<div class="row d-flex justify-content-center">
  <div class="col-lg-8 sheet">
    <div class="d-flex justify-content-center">
      <h1 class="page-title">
        <%=t '.title' %>
      </h1>
    </div>
    <%= render partial: 'form', locals: { form: @pbi_form, url: product_backlog_item_path(@pbi.id), method: :put, btn_label: t('navs.save') } %>
    <hr>
    <div>
      <label>
        <%= t '.title_ac' %>
      </label>
      <div class="ac-list">
        <% criteria.each do |c| %>
          <%= render partial: 'acceptance_criteria/item', locals: { criterion: c } %>
        <% end %>
      </div>
    </div>
    <div class="mt-2">
      <%= render partial: 'acceptance_criteria/form' %>
    </div>
  </div>
</div>
<div class="row d-flex justify-content-center">
  <div class="d-flex mt-2">
    <%= link_to product_product_backlog_items_path(product_id: @pbi.product_id), class: 'text-md' do %>
      <i class="fas fa-reply"></i>
      <%=t 'navs.back' %>
    <% end %>
  </div>
</div>
