<div class="row d-flex justify-content-center">
  <div class="col-lg-9 sheet">
    <div class="d-flex justify-content-center">
      <h5>
        <%=t '.title' %>
      </h5>
    </div>
    <div class="d-flex justify-content-center mb-3">
      <%= link_to '#anchor-new-pbi', class: 'btn btn-outline-success', data: { controller: 'hello' } do %>
        <i class="fas fa-plus"></i>
        <%=t '.add' %>
      <% end %>
    </div>
    <div class="pbl">
      <%= render partial: 'item', collection: @items %>
    </div>
    <div id="anchor-new-pbi">
      <%= render partial: 'form', locals: { form: @form } %>
    </div>
  </div>
</div>
