<%= content_tag :div, id: "js-pbl-item-#{item.id}", class: pbl_item_css_classes(item), data: { id: item.id } do %>
  <div class="pbl-item">
    <span class="pbl-item__grip js-sortable-handle">
      <i class="fas fa-grip-vertical"></i>
    </span>
    <%= simple_format(item.description, class: 'pbl-item__description nf') %>
    <div class="pbl-item__actions">
      <%= link_to "#clp-pbi-ac-#{item.id}", collapse_trigger_options(class: 'pbl-item__ac-trigger') do %>
        <i class="fas fa-list"></i>
      <% end %>
      <%= render partial: 'product_backlogs/point', locals: { item: item } %>
      <%= render partial: 'product_backlogs/item_menu', locals: { item: item } %>
    </div>
  </div>
  <div class="collapse pbl-item__ac" id="clp-pbi-ac-<%= item.id %>">
    <hr style="margin: 0.5rem 0;">
    <%= render partial: 'issues/acceptance_criteria', locals: { item: item } %>
  </div>
<% end %>
