<div class="pbl-list">
  <div class="pbl-list__header">
    <span class="pbl-list__title">
      <%= release.name %>
    </span>
    <div class="pbl-list__actions">
      <%= link_to t('navs.edit'), edit_product_release_path(product_id: current_product_id, id: release_counter), class: 'action-link' %>
      <%= link_to t('navs.delete'), product_release_path(product_id: current_product_id, id: release_counter), method: :delete, data: { confirm: t('navs.confirm_delete') }, class: 'action-link' %>
    </div>
  </div>
  <%= content_tag :div, data: sortable_pbl_options(current_product_id, release.name) do %>
    <%= render partial: 'item', collection: release.issues %>
  <% end %>
</div>
