<% plan_updatable = authorize(:update_plan, current_team_member_roles) %>
<div class="pbl-release">
  <div class="pbl-release__header">
    <span class="pbl-release__title">
      <%= t('.title', number: release.number) %>
    </span>
    <span class="pbl-release__description">
      <%= release.description %>
    </span>
    <div class="pbl-release__actions">
      <% if plan_updatable %>
        <%= render partial: 'release_menu', locals: { release: release } %>
      <% end %>
    </div>
  </div>
  <%= content_tag :div, data: plan_updatable && sortable_pbl_options(current_product_id, release.number) do %>
    <%= render partial: 'item', collection: release.issues, locals: { can_remove: can_update_release_plan? } %>
  <% end %>
</div>
