<% content_for(:member_roles) { team_member_roles_label } %>
<div class="row d-flex justify-content-center">
  <div class="col-lg-14 sheet">
    <div class="d-flex justify-content-center align-items-start">
      <div class="sheet__left">
        <%= link_to '#', data: { controller: 'scroller', scroller_to: '#anchor-new-pbi', action: 'scroller#scroll' }, class: 'btn btn-sm btn-outline-success' do %>
          <i class="fas fa-plus"></i>
          <%=t '.add' %>
        <% end %>
      </div>
      <h1 class="page-title">
        <%=t '.title' %>
      </h1>
      <div class="sheet__right">
        <% if authorize(:update_plan, current_team_member_roles) %>
          <%= link_to t('.add_release'), new_product_release_path(product_id: current_product.id), class: 'btn btn-sm btn-outline-secondary', data: { test_new_release: 1 } %>
        <% end %>
      </div>
    </div>
    <div class="d-flex align-items-center justify-content-center">
      <%= render partial: 'legend' %>
    </div>
    <div class="mt-1">
      <%= render partial: 'list', locals: { pbl: @pbl } %>
    </div>
    <div id="anchor-new-pbi" class="pbl__form form-outer">
      <%= render partial: 'issue_form', locals: { form: @form, releases: @pbl.releases } %>
    </div>
  </div>
</div>
<div class="row d-flex justify-content-center">
  <div class="d-flex mt-2">
    <%= link_to products_path, class: 'text-md' do %>
      <i class="fas fa-home"></i>
      <%=t 'navs.home' %>
    <% end %>
  </div>
</div>
