<% content_for(:member_role) { scrum_team_member_role } %>
<div class="row d-flex justify-content-center">
  <div class="col-lg-10 sheet">
    <div class="row d-flex justify-content-center">
      <div class="sheet__left">
        <%= link_to new_product_release_path(product_id: current_product_id), class: 'btn btn-sm btn-outline-success' do %>
          <i class="fas fa-plus"></i>
          <%=t '.add' %>
        <% end %>
      </div>
      <h1 class="page-title">
        <%=t '.title' %>
      </h1>
    </div>
    <div class="mt-3">
      <% @releases.each do |r| %>
        <%= r.title %>
        <%= link_to t('navs.edit'), edit_release_path(r.id) %>
        <%= link_to t('navs.delete'), release_path(r.id), method: :delete, data: { confirm: t('navs.confirm_delete') } %>
      <% end %>
    </div>
  </div>
</div>
