<div class="nav-item dropdown">
  <%= link_to product.name, '#', dd_trigger_options(id: 'dd-product-menu', class: 'dropdown-toggle gnav__product-name') %>
  <div class="dropdown-menu">
    <%= link_to product_backlog_path(product_id: product.id), class: 'dropdown-item' do %>
      <i class="fas fa-list-alt"></i>
      <%=t 'products.product.pbl' %>
    <% end %>
    <%= link_to '#', class: 'dropdown-item' do %>
      <i class="fas fa-cog"></i>
      <%=t 'products.product.setting' %>
    <% end %>
  </div>
</div>
