<div class="col-lg-9 sheet pl-item">
  <div class="d-flex mt-1">
    <div class="pl-item__head">
      <h2 class="pl-item__name">
        <%= product.name %>
      </h2>
      <p class="pl-item__desc">
        <%= product.description %>
      </p>
    </div>
    <div class="pl-item__tail">
      <div class="pl-link">
        <div class="pl-link__icon">
          <i class="fas fa-list-alt"></i>
        </div>
        <%= link_to t('.pbl'), product_pbis_path(product_id: product.id) %>
      </div>
      <div class="pl-link">
        <div class="pl-link__icon">
          <i class="fas fa-users"></i>
        </div>
        <%= link_to t('.team'), product_team_members_path(product_id: product.id) %>
      </div>
      <div class="pl-link">
        <div class="pl-link__icon">
          <i class="fas fa-cog"></i>
        </div>
        <%= link_to t('.setting'), '#' %>
      </div>
    </div>
  </div>
</div>
