<div class="col-lg-14 sheet pl-item">
  <div class="d-flex mt-1">
    <div class="pl-item__head">
      <div class="pl-item__title">
        <h2 class="pl-item__name">
          <%= product.name %>
        </h2>
      </div>
      <p class="pl-item__desc">
        <%= product.description %>
      </p>
    </div>
    <div class="pl-item__tail">
      <div class="pl-link">
        <div class="pl-link__icon">
          <i class="fas fa-list-alt"></i>
        </div>
        <%= link_to t('.pbl'), product_backlog_path(product_id: product.id) %>
      </div>
      <div class="pl-link">
        <div class="pl-link__icon">
          <i class="fas fa-list"></i>
        </div>
        <%= link_to t('.sbl'), sprint_backlog_path(product_id: product.id) %>
      </div>
      <div class="pl-link">
        <% if product.teams.any? %>
          <% product.teams.each do |team| %>
            <div class="pl-link__icon">
              <i class="fas fa-users"></i>
            </div>
            <%= link_to t('.team'), team_path(team.id) %>
          <% end %>
        <% else %>
          <div class="pl-link__icon">
            <i class="fas fa-users"></i>
          </div>
          <%= link_to t('.create_team'), new_team_path(product_id: product.id) %>
        <% end %>
      </div>
      <div class="pl-link">
        <div class="pl-link__icon">
          <i class="fas fa-cog"></i>
        </div>
        <%= link_to t('.setting'), '#' %>
      </div>
    </div>
  </div>
</div>
