<!DOCTYPE html>
<html>
  <head>
    <title>fridge</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= web_font_link_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render 'global_nav' %>
    <%= render 'flash' %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
